.front-page-container {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.front-page-buttons {
  margin-top: 50px;
}

.front-page-buttons > button {
  margin: 0 15px;
}